/* Base Template CSS */
body {
  font-family: "Avenir";
}

hr {
  width: 10%;
  text-align: center;
}

.navbar {
  background: white;
  border: 0;
  padding: 20px 30px 20px 0;
  height: 80px;
}

h1, h4, h3 {
  text-align: center;
}

.navbar-brand img {
  margin-top: -40px;
  height: 90px;
  width: 130px;
}

.btn-primary {
  background: #00004c;
  border-radius: 20px;
  color: white;
  padding: 10px 10px 10px 10px;
}

.btn-outline-primary {
  background: transparent;
  padding: 10px 20px 10px 20px;
  color: black;
  border-radius: 10px;
  border: 1px solid #00004c;
  margin-right: 20px;
}

.button:hover {
  background: #00004c;
  color: white;
}

#navbar ul li a {
  color: black;
  font-weight: 300;
  font-size: 17px;
}

#navbar ul li a:hover {
  border-bottom: 2px solid black;
}

#mc_embed_signup {
  clear:left; 
  clear: right;
}

#footer {
  color: white;
  padding: 10px 20px 0 0;
  height: 150px;
  background: #00004c;
  position: relative;
  margin-top: -150px;
  clear: both;
  display: block;
  bottom: 0;
}

#social {
  color: white;
  padding-left: 40px;
  text-decoration: none;
}

/* End Base Template CSS */



/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}

.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}

.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}

.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}

.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #00008B;
}

.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}

.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}

.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}

.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #00008B;
  position: relative;
}

.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}

.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}

.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}

.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */
.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}

.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}

.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #00008B;
}

.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #00008B;
}

.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  padding-bottom: 15px;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline;
     zoom:1;
}

.nav-tabs, 
.nav-pills {
    text-align: center;
}

.imgContainer a {
    text-decoration: none;
    color: black;
}

#about-us,
#meet-the-team,
#alumni,
#teams {
    padding-top: 30px;
}

#about-us {
    margin: 0 200px 0 200px;
    padding-bottom: 200px;
}

#about-us p {
    font-size: 15px;
}

#meet-the-team {
  margin-bottom: 550px;
  padding-bottom: 450px;
}

#teams {
  margin-bottom: 900px;
  padding-bottom: 900px;
}


#alumni {
  margin-bottom: 1400px;
  padding-bottom: 1400px;
}

#exec,
#director,
#alumni {
  margin: 0 0 0 100px;
}

#all-team-icons {
  float: left;
  padding-left: 200px;
}

#team-icon {
  width: 200px;
  height: 200px;
  margin: 20px 20px 20px 20px;
  border: 1px solid #D3D3D3;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 50px;
}

#team-icon img {
  width: 180px;
  height: 150px;
}

#team-des {
  float: right;
  padding-right: 160px;
  width: 700px;
}

#team-des h3,
#team-des h4 {
  text-align: left;
}

.imgContainer {
  width: 276px;
  height: 350px;
  padding: 5px 0 5px 0;
  margin: 20px 20px 20px 20px;
  border: 1px solid #D3D3D3;
  border-radius: 10px;
  text-align: center;
  float: left;
}

.imgContainer:hover {
  box-shadow: 3px 3px #D3D3D3;
  opacity: 0.7;
}

img {
  width: 250px;
  height: 255px;
  border-radius: 10px;
}

.modal-body {
  background: white;
}

#apply p {
  text-align: center;
}