/* Basic settings */
body {
	font-family: "Avenir";
}

h1, h2, h3, h4 {
  text-align: center;
}
/* End Basic settings */

/* Navbar settings */
.navbar-brand img {
  margin-top: -40px;
  height: 90px;
  width: 130px;
}

.navbar {
  background: white;
  border: 0;
  padding: 20px 30px 20px 0;
  height: 80px;
}

.btn-primary {
  background: #00004c;
  border-radius: 20px;
  color: white;
  padding: 10px 10px 10px 10px;
}

#navbar ul li a {
	color: black;
	font-weight: 300;
	font-size: 17px;
}

#navbar ul li a:hover {
	border-bottom: 2px solid black;
}

#mc_embed_signup {
	clear:left; 
	clear: right;
}

.btn-outline-primary {
	background: transparent;
	padding: 10px 20px 10px 20px;
	color: black;
	border-radius: 10px;
	border: 1px solid #00004c;
	margin-right: 20px;
}

.button:hover {
	background: #00004c;
	color: white;
}

.modal-body {
	background: white;
}
/* End Navbar settings */

/* Calendar */
hr {
	width: 10%;
	text-align: center;
}

#all-elements {
	width: 50%;
}

iframe {
	margin: 0 auto;
	display: block;
}
/* End Calendar */


/* Past events */
.col-md-6 img {
  border-radius: 10px;
  width: 500px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.col-md-6 p {
	font-size: 18px;
	text-align: justify;
}

/* End Past events */

/* Footer */
#footer {
	color: white;
	padding: 10px 20px 0 0;
	height: 150px;
	background: #00004c;
	position: relative;
	margin-top: -150px;
	clear: both;
	display: block;
}

#social {
	color: white;
	padding-left: 40px;
	text-decoration: none;
}

#cal-events {
	margin-bottom: 200px;
}
/* End Footer */