/* Basic settings */
body {
	font-family: "Avenir";
}

#bg {
	background: url(../img/background-op-mo.jpg) no-repeat;
    background-size: cover;
	overflow-x: hidden;
	padding-bottom: 10%;
}

h1 {
	font-size: 50px;
}

h1, h2, h4, h3 {
	text-align: center;
}
/* End Basic settings */

/* Navbar settings */
.navbar {
	background: white;
	opacity: 0.7;
	border: 0;
	padding: 20px 30px 20px 0;
	height: 80px;
}

.navbar-brand img {
	margin-top: -40px;
	height: 90px;
	width: 130px;
}

#navbar ul li a {
	color: black;
	font-weight: 300;
	font-size: 17px;
}

#navbar ul li a:hover {
	border-bottom: 2px solid black;f
}

#mce-EMAIL1 {
	max-width: 500px;
	margin: 0 auto;
	text-align: left;
}

.modal-body {
	background: white;
}

#mc_embed_signup {
	clear:left; 
	clear: right;
}
/* End Navbar settings */

/* Landing image and text */
.btn-primary {
	background: #00004c;
	border-radius: 20px;
	color: white;
	padding: 10px 10px 10px 10px;
}

.btn-outline-primary {
	background: transparent;
	padding: 10px 20px 10px 20px;
	color: black;
	border-radius: 10px;
	border: 1px solid #00004c;
	margin-right: 20px;
}

.button:hover {
	background: #00004c;
	color: white;
}

#landing-text {
	padding-top: 20%;
	color: #ffffff;
}

#landing-buttons {
	background: transparent;
	padding: 10px 20px 10px 20px;
	color: white;
	border-radius: 10px;
	border: 1px solid white;
	margin-right: 20px;
}

#landing-buttons:hover {
	background: white;
	color: black;
}
/* End Landing image and text */

/* About */
#about {
	height: 600px;
	padding: 7% 15% 15% 15%;
	justify-content: center;
}

#about p {
	text-align: justify;
	font-size: 25px;
}

#other-buttons {
	text-align: center;
}

/* End About */

/* Start teams */
#teams {
	background: #E8E8E8;
	height: 600px;
	padding: 7% 0 15% 0;
}

.col-md-2 img {
	width: 180px;
	height: 160px;
	border: 1px solid #C0C0C0;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
}

.col-md-2 img:hover {
	box-shadow: 3px 3px #D3D3D3;
	background: white;
}

.col-md-2 p {
	font-size: 18px;
	text-align: center;
}
/* End Teams */


/* Explore what we do */
#explore {
	max-height: 600px;
	padding: 7% 0 15% 0;
}

.col-md-3 img {
	width: 200px;
	height: 180px;
	margin: 0 auto;
	display: block;
	border: 1px solid #C0C0C0;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
}

.col-md-3 img:hover {
	box-shadow: 3px 3px #D3D3D3;
}

.col-md-3 p {
	font-size: 18px;
	text-align: center;
}
/* End Explore */


/* Get involved */
#get-involved {
	height: 500px;
	padding: 7% 0 15% 0;
	background: #E8E8E8;
}
/* End Get involved */

/* Footer */
#footer {
	color: white;
	padding: 10px 20px 0 0;
	height: 180px;
	background: #00004c;
	clear: both;
	bottom: 0;
}

#all-social {
	padding-bottom: 15px;
}

#social {
	color: white;
	padding-left: 40px;
	text-decoration: none;
}

#social img {
	width: 100px;
	height: 50px;
}

#ocf {
	clear: both;
	float: right;
	position: absolute;
	padding-bottom: 10px;
	right: 0;
	display: inline;
}

#footer .col-lg-1 {
	padding: 0;
}
/* End footer */